.gradle
build/
out/

*.iws
*.iml
*.ipr
*.db
*.p12

### IntelliJ IDEA ###
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/
.idea/sonarlint/
.idea/dataSources/
.idea/shelf/
!.idea/compiler.xml

### Mac OS ###
.DS_Store
HELP.MD